<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="ASUKARU">
    <meta name="description" content="佐賀県神埼市でAI、IoT開発をしているASUKARU（アスカル）の制作工程などの紹介。その他にも
WEB開発や、ハードウェアに関すること、Pythonに関することからPHPや他の言語まで様々な関連情報を掲載していきます。
佐賀県や福岡県、久留米市などでプログラミング教室も行います。">
    <meta name="keywords" content="PythonによるAI・IoT・WEB開発について,ASUKARU,アスカル,佐賀県神埼市,AI,IoT,開発,ASUKARU,アスカル,
WEB開発,ハードウェア,Python,PHP,佐賀県, プログラミング教室, 久留米, プログラミング, 福岡">
    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <!-- Original CSS JS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
	<!-- D3 -->
	<script src="https://d3js.org/d3.v5.min.js"></script>

    <title>ASUKARU</title>

</head>
<body id="top">
<header id="header">
	<div id="headerWrap">
		<h1>ASUKARU</h1>
		<nav id="mainnav">
			<p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p>
			<div class="panel">
				<ul>
					<li><a href="#top">TOP</a></li>
					<li><a href="#sec01">MESSAGE</a></li>
					<li><a href="#sec02">GALLERY</a></li>
					<li><a href="#sec03">PROJECT</a></li>
					<li><a href="#sec04">BRAND</a></li>
					<li><a href="#sec05">COMPANY</a></li>
					<li><a href="#onayamisoudann">CONTACT</a></li>
					<li><a href="https://asukaru.sakura.ne.jp/asutyan/
					blog%E8%A8%98%E4%BA%8B%e3%80%80%E4%B8%80%E8%A6%A7/">BLOG</a></li>
					<li>プログラミング教室 <span style="red">Comming Soon</span></li>
				</ul>
			</div>
		</nav>
	</div>
</header>

<div id="mainImg">
	{% block content %}{% endblock %}
</div>

<!-- MESSAGE -->
<section id="sec01">
	<header>
		<h2><span>Message</span></h2>
	</header>
	<div class="innerS">
        最近、AIやIoTへの関心が高まってきています。<br>
        我々ASUKARU（アスカル）も、AIやIoTの開発をしています。開発の場は、佐賀県神埼市。
		その理由は、単純にここが好きだから。<br>
        ASUKARUの得意は、様々なご提案ができること。<br>
        「もっとこうしたら楽になる」や「もっとこうすると良くなるのではないか」といったことをご提案すること。<br>
        AIやIoT,WEBシステムを開発してきたエンジニアが<br>
        直にクライアント様へご提案をすることで、拡張性の高いシステムを構築することができるのです。
		<p>課題は、<strong>データー解析ができる、統計学の知識をもったエンジニアの確保・育成</strong>と、
			データーを自在に操ることができ、<strong>可視化させることができる力量</strong>を持つことができるということです。</p>
		ASUKARUでは、実務でも通用するプログラミング教室も開催しております。ゲームを作ったり、スマホ用のアプリケーションを作ったり、
		WEBサイトを自由に作ったりと。大人の方から子供まで、みんなで世界を楽しくしちゃいましょう！ぜひ、お気軽にご相談ください。
		<br>
		<br>

		<h2>(( sample )) スクレイピングデーターと D3　によるデーターの可視化 </h2>
	</div>
</section>
<!-- // MESSAGE -->

<!-- GALLERY -->
<section id="sec02">
	<header>
		<h2><span>Gallery</span></h2>
		<p>課題は、<strong>データー解析ができる、統計学の知識をもったエンジニアの確保・育成</strong>と、
			データーを自在に操ることができ、<strong>可視化させることができる力量</strong>を持つことができるということです。</p>
		<p>(( sample )) スクレイピングデーターと D3　によるデーターの可視化 </p>
	</header>

	<!-- // D3 -->
	<svg width="960" height="500" style="margin-left: 12%;"></svg>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script>

	var svg = d3.select("svg"),
		margin = {top: 20, right: 20, bottom: 30, left: 50},
		width = +svg.attr("width") - margin.left - margin.right,
		height = +svg.attr("height") - margin.top - margin.bottom,
		g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

	var parseTime = d3.timeParse("%d-%b-%y");

	var x = d3.scaleTime()
		.rangeRound([0, width]);

	var y = d3.scaleLinear()
		.rangeRound([height, 0]);

	var area = d3.area()
		.x(function(d) { return x(d.date); })
		.y1(function(d) { return y(d.close); });

	d3.tsv("{{ url_for('static', filename='file/data.tsv') }}", function(d) {
	  d.date = parseTime(d.date);
	  d.close = +d.close;
	  return d;
	}, function(error, data) {
	  if (error) throw error;

	  x.domain(d3.extent(data, function(d) { return d.date; }));
	  y.domain([0, d3.max(data, function(d) { return d.close; })]);
	  area.y0(y(0));

	  g.append("path")
		  .datum(data)
		  .attr("fill", "orange")
		  .attr("d", area);

	  g.append("g")
		  .attr("transform", "translate(0," + height + ")")
		  .call(d3.axisBottom(x));

	  g.append("g")
		  .call(d3.axisLeft(y))
		.append("text")
		  .attr("fill", "#000")
		  .attr("transform", "rotate(-90)")
		  .attr("y", 6)
		  .attr("dy", "0.71em")
		  .attr("text-anchor", "end")
		  .text("価格遷移");
	});

	</script>
</section>
<!-- // GALLERY -->

<!-- PROJECT -->
<section id="sec03">
	<header>
		<h2><span>Project</span></h2>
	</header>
	<div class="innerS">
		<div id="iii" style="float: left;width: 42%;">
			<img src="{{ url_for('static', filename='images/photo.jpg') }}">
		</div>
		<div id="prof" style="float: left;width:58%; ">
			<p> ASUKARU　代表　　遠藤昌平 </p>
			<p> お祭りが大好きです！でっかくなったら祭りを開催します！ </p>
			<p>　法科大学院卒業後、大分県にある実家の企業で船員をしながらシステム開発について勉強。PHPなどからPythonを扱い開発。　</p>
			<p>　2018年から佐賀県にてSystem開発。大手上場企業などでPython・PHPエンジニアとして活動をしながら、大学でPythonエンジニアとして公演。
				　独自に音声合成に関する研究を行いながら、
				現在、より多くの方々へシステムを通じて、様々な業界で利便性の向上と利用者の方々の喜びを共有すべくAUSUKARUを佐賀県にて立ち上げ独自に活動中！
				AIなどを開発。　</p>
			<p>　みなさんのお手元にAIエンジニア（　その他開発エンジニアなど　）としてお伺いして開発をすることが最大の愉しみ！！　</p>
		</div>
		<div class="clear" style="clear: both;"></div>
		<p>　統計学という学問に一度でも触れたことがある人であれば、それをシステム化することで様々なアーキテクトを構築することができないかと考える。</p>
        <p>　あるいは、AIやIoTを自社の事業の中に組み込むことでどのような効果がでてくるのかということを考えたことがあるだろうか。</p>
        <p>　機会学習やディープランニングは、本当に価値あるものを我々に提供してくれます。</p>
        <p>　一度体感してみると非常に面白いことが起こる。</p>
        <p>　我々のプロジェクトは、このような素晴らしいシステムを、より多くの方々へ知っていただき、活用していただくこと。</p>
	</div>
</section>
		<!-- // PROJECT -->
	<section id="youtube">
		<div class="innerS">
			<h3> Pythonという言語 </h3>
			<div class="chans">
				<p style="font-size:15px"><strong>　実務でのPythonと本を読んだりしただけのPythonとでは細かいところで差がでてきます。　</strong></p>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/rlDPIKbQw8c"
					frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
			<div class="chens">
				<p style="font-size:15px"><strong>　機会学習についての簡単な動画　</strong></p>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/0yV_wHCtqzw" frameborder="0"
						allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</div>

	</section>

<!-- BRAND -->
<section id="sec04">
	<header>
		<h2><span>Brand</span></h2>
	</header>
	<div class="inner">
		<ul class="col3">
			<li>
				<p class="img"><img src="{{ url_for('static', filename='images/logo01.png') }}" width="170" height="106" alt=""></p>
                <h3><p>System</p></h3>
                <p>システム開発は、現在よりもより利便性を向上させるという目的をもって実装がされます。現状の把握がまずは第一です。</p>
			</li>
			<li>
				<p class="img"><img src="{{ url_for('static', filename='images/logo02.png') }}" width="170" height="106" alt=""></p>
                <h3><p>IOS Android　App</p></h3>
                <p>いわゆるアプリの開発は、ユーザーさまとのコミュニケーションのツールという感覚が現在では合致しています。より利便性のあるコミュニケーションツールにしていきましょう。</p>
			</li>
			<li>
				<p class="img"><img src="{{ url_for('static', filename='images/logo03.png') }}" width="170" height="106" alt=""></p>
                <h3><p>AI・IOT</p></h3>
                <p>AIやIoTを活用することで、これまでは人のが計算をしていた分野（統計分析）を機械的に行うことができるようになります。活用の仕方は人それぞれです。</p>
			</li>
		</ul>
	</div>
	<div id="sec04_02">
		<p><img src="images/logoBrand.png" width="340" height="107" alt=""></p>
	</div>
</section>
<!-- // STORY -->

<!-- COMPANY -->
<section id="sec05">
	<header>
		<h2><span>Company</span></h2>
	</header>
	<div class="innerS">
		<ul class="col2">
			<li>
                <p><strong>ASUKARU(アスカル)</strong></p>
				<p>〒842-0002<br>佐賀県神埼市田道ヶ里2176-13</p>
				<p>TEL 0972-60-2693</p>
				<p>e-Mail asukaru2014@icloud.com</p>
				<p>営業時間 10:00〜20:00（日曜定休）</p>
				<p>※都合により休業する場合がございます</p>
				<p id="sns">
					<a href="https://www.facebook.com/webenginire/"
                       target="_blank"><img src="{{ url_for('static', filename='images/iconFb.png') }}"
                                                     width="80" height="80" alt="FB"></a>
					<a href="https://twitter.com/Asukaru2014"
                       target="_blank"><img src="{{ url_for('static', filename='images/iconTw.png') }}"
                                                     width="80" height="80" alt="twitter"></a>
					<a href="https://www.youtube.com/results?search_query=%E9%81%A0%E8%97%A4%E6%98%8C%E5%B9%B3"
                       target="_blank"><img src="{{ url_for('static' , filename='images/iconYouTube.png') }}"
                                                     width="80" height="80" alt="You Tube"></a>
				</p>
			</li>
			<li>
				<div id="map">
					<!-- GOOGLE MAP -->
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3334.293799660049!2d130.3763490149351!3d33.31113376386686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3541b745c7a0085d%3A0x8990e76a8abba8ed!2z44CSODQyLTAwMDIg5L2Q6LOA55yM56We5Z-85biC56We5Z-855S655Sw6YGT44O26YeM77yS77yR77yX77yW4oiS77yR77yT!5e0!3m2!1sja!2sjp!4v1538296624123"
                            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					<!-- // GOOGLE MAP -->
				</div>
			</li>
		</ul>
		<div id="onayamisoudann">
			<h2><span>お問合せはこちらから</span></h2>
            {% if success %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ success }}
                </div>
            {% endif %}
			<form method="post" action="/contact">
				{{ csrf_token }}
				 <div class="form-group">
					 <div class="form-group">
						 <label for="exampleFormControlTextarea1">本文</label>
						 <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
								   name="message" required=""></textarea>
					 </div>
				 </div>
				<button type="submit" class="btn btn-outline-info btn-lg btn-block">送信する</button>
			</form>
		</div>
	</div>
</section>
<!-- // COMPANY -->

<footer id="footer">
	Copyright(c) 2014 ASUKARU Inc. All Rights Reserved.
</footer>

</body>
</html>
