{% extends 'base.html' %}
    {% block content %}
        <div>
            <div id="slide">
                <ul id="slides">
                    <li><img src="{{ url_for('static', filename='images/ios.png') }}" alt="ASUKARU(アスカル)佐賀県神埼市でWEB、AI、IoT
            開発を行う、システムエンジニアリング。Python" width="70%"></li>
                    <li><img src="{{ url_for('static', filename='images/system.png') }}" alt="ASUKARU(アスカル)佐賀県神埼市でWEB、AI、IoT
            開発を行う、システムエンジニアリング。Python" width="70%"></li>
                </ul>
            </div>
        </div>
    {% endblock %}